:root {
  --secondary-icon: #65676b;
}

.main {
  background-color: #f0f2f5;
  height: 100vh;
  width: 100vw;
}

.topbar {
  background-color: white;
}

.topbar svg {
  fill: var(--secondary-icon);
}

.topbar a {
  max-width: 129.6px;
  min-width: 50px;
  height: 56px;
}
